#wp-learn-ama-response {
  padding: 5px;
}

.wp-block-wp-learn-ama-wp-learn-ama-block form div {
  padding: 20px 0;
}

.wp-block-wp-learn-ama-wp-learn-ama-block form label {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}

.wp-block-wp-learn-ama-wp-learn-ama-block form input {
  width: 50%;
}

.wp-block-wp-learn-ama-wp-learn-ama-block #wp-learn-ama-submit {
  width: 100%;
}